@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: 11, 13, 23;
  --secondary-color: 208, 214, 249;
  --accent-color: 255, 255, 255;
}

body {
  color: rgb(var(--accent-color));
  background: rgb(var(--primary-color));
}
